.sobre_content {
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: "Work Sans", sans-serif;
}

.sobre_content .img_container {
  background: url("../../src/consitec/sobre.jpg");
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
  position: relative;
}

.sobre_content .img_container label {
  font-weight: bold;
  color: #ffff;
  font-size: 100px;
  position: absolute;
  bottom: -38px;
  letter-spacing: 10px;
}

.sobre_content .text_container {
  display: flex;
  flex-direction: column;
}

.sobre_content .text_container .title {
  padding: 65px;
  font-size: 80px;
  color: #003b4a;
  font-weight: bolder;
  width: 50%;
}

.sobre_content .text_container .text {
  display: flex;
  flex-direction: column;
  padding: 0px 65px;
  width: 50%;
}

.sobre_content .text_container .text p {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

.estrutura_img {
  width: 800px;
  padding: 0px 65px;
}

.img_container_gov {
  background: url("../../src/consitec/governanca.jpg");
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
  position: relative;
}

.img_container_gov label {
  font-weight: bold;
  color: #ffff;
  font-size: 100px;
  position: absolute;
  bottom: -38px;
  letter-spacing: 10px;
  white-space: pre;
}
