@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,700i|Work+Sans:400,700&display=swap");

@import url("reset.css");
@import url("main_mob.css");
@import url("./pages/consitec/styles.css");

.visible {
  display: flex !important;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  overflow-x: hidden;
}

ul {
  padding: 0px;
}

.mob_header {
  display: none;
}

.fake_header {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.header {
  display: flex;
  flex-direction: column;

  width: 20%;
  justify-content: space-between;
  background: #003b4a;

  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;

  padding: 20px;
  height: 20%;
}

.logo img {
  width: 200px;
}

.menu_container {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;

  height: 70%;
  padding: 20px;
  color: #ffff;
}

.menu_container li {
  list-style-type: none;
  margin: 20px 10px;
}

.menu_container li span,
.submenu li {
  cursor: pointer;
}

.menu_container li span.selected,
li.selected {
  font-weight: bold;
  background: #d73228;
  padding: 0px 10px 0px 50px;
  margin-left: -50px;
}

.submenu {
  font-weight: lighter;

  display: none;
}

footer {
  color: #ffff;

  padding: 20px;
  height: 10%;
}
