@media only screen and (max-device-width: 481px) {
  body {
    flex-direction: column !important;
  }

  .mob_header {
    display: flex !important;
    height: 10%;
    background: #003b4a;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .mob_header .logo {
    width: 100% !important;
    justify-content: flex-start !important;
  }

  .mob_header span {
    font-size: 50px;
    color: #ffff;
  }

  .header,
  .fake_header {
    height: 100vh !important;
    position: absolute !important;
    display: none !important;
    width: 100% !important;
  }

  .menu_container {
    font-size: 50px !important;
    margin-top: 20% !important;
  }

  .header .logo {
    display: none !important;
  }
}
