@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,700i|Work+Sans:400,700&display=swap");
@import url("reset.css");
@import url("mobile.css");
@import url("./pages/consitec/styles.css");

.visible {
  display: flex !important;
}

html,
body {
  overflow-y: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: row;
}

/**** **** Navigation Menu **** ****/

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #003b4a;
  min-width: 330px;
  height: 100vh;
  z-index: 1;
}

aside a,
aside a:link,
aside a:visited,
aside a:active {
  color: #ffff;
  text-decoration: none;
}

ul {
  padding: 0px;
}

.mobile-menu {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  padding: 40px 20px 0px;
  height: 10%;
}

.logo img {
  width: 170px;
}

.menu-container {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  height: 70%;
  padding: 20px 0px 20px 20px;
  color: #ffff;
}

.menu-container ul {
  font-size: 14px;
}

.menu-container li {
  list-style-type: none;
  margin: 13px 10px;
}

.menu-container li a {
  color: #ffff;
}

.menu-container li span {
  cursor: pointer;
}

.submenu li {
  display: table;
  cursor: pointer;
}

.menu-container li span.selected {
  font-weight: bold;
  background: #d73228;
  padding: 0px 10px 0px 50px;
  margin-left: -50px;
  transition: 0.2s all;
}

.menu-container li.selected {
  font-weight: bold;
  background: #d73228;
  box-shadow: 0 0 0 3px #d73228;
  padding: 0px 10px 0px 50px;
  margin-left: -40px;
  transition: 0.2s all;
}

.submenu {
  font-weight: lighter;
  display: none;
}

footer {
  color: #ffff;
  padding: 20px;
  height: 10%;
}

/**** **** Main Content **** ****/

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

header {
  display: flex;
  flex-direction: column;
  height: auto;
}

header figure {
  background-repeat: no-repeat;
  position: relative;
  height: 30vh;
}

header figure label {
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
  color: #ffff;
  font-size: 20vh;
  position: absolute;
  bottom: -35px;
}

section {
  display: flex;
  flex-direction: column;

  margin-left: 60px;
}

section h1 {
  max-width: 55%;
  margin: 45px 0px 30px;
  z-index: 1;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 56px;
  color: #003b4a;
  font-weight: bolder;
}

section h2 {
  margin: 40px 0px 30px;
  z-index: 1;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: initial;
  color: #003b4a;
  font-weight: bolder;
}

section i {
  font-size: 18px;
  vertical-align: middle;
  padding: 10px 8px;
  background: #d73228;
  margin-right: 20px;
  margin-left: -60px;
}

section div {
  display: flex;
  flex-direction: column;

  width: 50%;
  font-size: 16px;
  line-height: 25px;
}

section p {
  margin-bottom: 20px;
}

section p strong {
  font-weight: bold;
}

/* projetos */

.projetos_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.projetos_container a {
  flex: 0 0 33.3333%;
  position: relative;
  text-decoration: none;
}

.projetos_container .projeto {
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  flex: 0 0 33.3333%;
  min-width: 300px;
  min-height: 300px;
}

.projetos_container .projeto:after {
  background-color: red;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.projetos_container .projeto:hover:after {
  opacity: 0.5;
}

.projetos_container .projeto span {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.projetos_container .projeto label.title {
  max-width: 70%;
  background: red;
  color: white;
  padding: 20px;
}

.projetos_container .projeto label.type {
  background: #003b4a;
  color: white;
  width: fit-content;
  padding: 5px;
  position: absolute;
  margin-top: 40px;
}
